.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.text-error{
    font-size: 10px;
    color: red;
}

.input-error{
    border: 1px solid red
}

.success-msg{
    color: green
}